*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    width:80%;
    font-size: 1.5rem;
    background-color: black;
}
#container{
    background-color: rgb(225, 225, 210);
    height: 720px;
    margin-left: 300px;
}
#section{
    margin-left: 20px;
}
h3, h5{
    margin-top: 10px;
}
input{
    width:35%;
}
